.page-container {
    width: 100vw;
    height: 100vh;
}

.background-texture {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 50vh;
    bottom: 0;
    left: 0;
}

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}