body {
    background-color: #FCEA9A;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #000000 !important; 
}

.brand-text{
    font-weight: 700;
    text-decoration: none;
    color: #E5E5E5 !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: black;
    color: white !important;
}

.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;

    color: #EE7070;
    text-shadow: -5px 5px 0px #000000;
}

.pinkish{
    color: #EE7070;
}

.bold{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}


/* Make profile picture circular */
.circular--portrait {
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
  }

.circular--portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* End Make Profile Picture Circular */

.album-cover {
    position: relative;
    width: 70%;
    height: 70%;
}

.no-decoration{
    text-decoration: none;
    color: #EE7070;
}

.white{
    color: white;
}

/* spotify green hover #1db954 // #1ed760; */

.btn-green {
    background-color: #1db954;
    font-size: 14px;
    /* color: white; */
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}

.btn-green:hover{
    background-color: #1ed760;
}