body {
    background-color: #FCEA9A;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #000000 !important; 
}

.brand-text{
    font-weight: 700;
    text-decoration: none;
    color: #E5E5E5 !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: black;
    color: white !important;
}

.title {

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;

    color: #EE7070;
    text-shadow: -5px 5px 0px #000000;
}

.pinkish{
    color: #EE7070;
}

.bold{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}


/* Make profile picture circular */
.circular--portrait {
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
  }

.circular--portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* End Make Profile Picture Circular */

.album-cover {
    position: relative;
    width: 30%;
    height: 30%;
}

.no-decoration{
    text-decoration: none;
    color: #EE7070;
}