* {
    background-color: #FCEA9A;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #FCEA9A !important; 
    height: 7.5vh;
}

.black-body{
    background-color: black !important;
}

.brand-text{
    font-weight: 700;
    text-decoration: none;
    color: #000000 !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white !important;
    height: 6.5vh !important;
}

.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;

    color: #EE7070;
    text-shadow: -5px 5px 0px #000000;
}

.title-small {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120px;

    color: #EE7070;
    text-shadow: -5px 5px 0px #000000;
}

.pinkish{
    color: #EE7070;
}

.bold{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}

.content-body{
    min-height: 92.5vh;
}

/* Make profile picture circular */
.circular--portrait {
    position: relative;
    width: 30vh;
    height: 30vh;
    overflow: hidden;
    border-radius: 50%;
  }

.circular--portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
  }
/* End Make Profile Picture Circular */

.album-cover {
    position: cover;
    width: 40vh;
    height: 40vh;
}

.no-decoration{
    text-decoration: none;
    color: #EE7070;
}

.about-header{
    font-size: 40px;
}

.review-number{
    font-size: 40px;
}

.white{
    color: #E5E5E5;
}

/* spotify green hover #1db954 // #1ed760; */

.btn-green {
    background-color: #1db954;
    font-size: 14px;
    /* color: white; */
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}

.btn-green:hover{
    background-color: #1ed760;
}

.btn-grey {
    background-color: #FCEA9A !important;
    font-size: 14px;
    /* color: white; */
    line-height: 1;
    border-radius: 500px;
    border-color: black;
    border-width: 5px;
    border: black;
    border-style: solid;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    letter-spacing: 2px;
    min-width: 160px;
    /* text-transform: uppercase; */
    white-space: normal;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    /* border: 1px solid transparent; */
}

.btn-grey:hover{
    background-color: #EE7070 !important;
}



.tan {
    background-color: #FCEA9A !important;
}

.tan > * {
    background-color: #FCEA9A !important;
}

.tan > * > * {
    background-color: #FCEA9A !important;
}

.center-container{
    position: relative;
    text-align: center;
    color: white;
}

.large-text{
    font-size: 25px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

.custom-link{
    text-decoration: none;
}

.floating {   
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
    font-size: 10vh;
} 

  
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
}